* {
    margin: 0;
    padding: 0;
    text-align: center;
}
.header {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    align-items: center;
}
.header h1 {
    margin-left: auto;
    margin-right: auto;
}
.main {
    background-color: coral;
    height: 100%;
}
.main__text {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.main__button {
    font-size: 15px;
    width: 250px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: brown;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main__button:active {
    scale: .95;
    transition: 0.5s;
}

.navbar {
    height: 50px;
    background-color: rgb(88, 88, 252);
    display: flex;
    align-items: center;
}
.navbar ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar ul li a:hover{
    color: rgb(185, 191, 196);
}
.main__div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.half_div {
    width: 49%;
}
#button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    border-collapse: collapse;
}
.table td{
    border: 1px solid;
    width: 50px;
    height: 50px;
    font-size: 20px;
}
@media (max-width:700px){
    .input {
        width: 300px;
    }
    .navbar ul {
        display: block;
    }
    .navbar ul {
        margin-top: 30px;
    }
    .navbar ul li{
        margin-bottom: 30px;
    }
    .navbar {
        height: max-content;
    }
}