.footer__top {
    background-color: #2E2E2E;
    height: 340px;
    color: #FFFFFF;
    text-align: center;
}
.footer__bottom {
    background-color: #252525;
    height: 60px;
    text-align: center;
}
.footer__top__first_p {
    padding-top: 142px;
}
.footer__top__images {
    margin-top: 40px;
}
.footer__top__images__img {
    width: 32px;
    margin-right: 20px;
}
.footer__bottom__text {
    padding-top: 20px;
    color: #FFFFFF;
}