.center{
    text-align: center;
}

body {
    background-color: rgb(73, 73, 73);
    color: lightgreen;
}

a {
    color:rgb(117, 223, 11)
}

.p1{
    color:rgb(127, 127, 127);
}

.bodybackground3{
    background-image: url('https://superagronom.com/media/news/o-o-w/00/09/9927/1539106208_30802_big-25506.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.img1{
    float: right;  
}

.img2{
    float: left;  
}
span{
    color: red;
}